/* Base Application Styles */
//body {
//  color: #fff;
//  background: #222;
//}
//
//.index img {
//  margin: 40px auto;
//  border-radius: 4px;
//  background: #fff;
//  display: block;
//}
//
//.index .notice {
//  margin: 20px auto;
//  padding: 15px 0;
//  text-align: center;
//  border: 1px solid #000;
//  border-width: 1px 0;
//  background: #666;
//}

html,body{
  height: 100%;
  width: 100%;
  background: #222;
}
#app{
  height: 100%;
  width: 100%;
}
.stage{
  position: relative;
  width: 100%;
  height: 680px;
}
.img-sec{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
  //将选择器提到最外层
  @at-root {
    .img-figure{
      position: absolute;
      width: 320px;
      height: 360px;
      margin: 0;
      padding: 40px;
      background-color: #fff;
      box-sizing: border-box;
      img{
        width: 100%;
      }
    }
    figcaption{
      text-align: center;
      .img-title{
        margin: 20px 0 0 0;
        color: #a7a0a2;
        font-size: 16px;
      }
    }
  }
}
.img-nav{
  position: absolute;
  left:0;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align: center;
}

