/* Base Application Styles */
//body {
//  color: #fff;
//  background: #222;
//}
//
//.index img {
//  margin: 40px auto;
//  border-radius: 4px;
//  background: #fff;
//  display: block;
//}
//
//.index .notice {
//  margin: 20px auto;
//  padding: 15px 0;
//  text-align: center;
//  border: 1px solid #000;
//  border-width: 1px 0;
//  background: #666;
//}

html,body{
  height: 100%;
  width: 100%;
  background: #222;
}
#app{
  height: 100%;
  width: 100%;
}
.stage{
  position: relative;
  width: 100%;
  height: 680px;
}
.img-sec{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #222;
  perspective: 1800px;

  //将选择器提到最外层
  @at-root {

    .img-figure{
      position: absolute;
      width: 320px;
      height: 360px;
      margin: 0;
      padding: 40px;
      background-color: #fff;
      box-sizing: border-box;
      cursor: pointer;
      transition: left 0.6s ease-in-out,
                  top 0.6s ease-in-out,
                  transform 0.6s ease-in-out;
      transform-origin: 0 50% 0;
      transform-style: preserve-3d;
      &.is-inverse{
        transform: translateX(320px) rotateY(180deg);
      }
      img{
        width: 100%;
      }
    }
    figcaption{
      text-align: center;
      .img-title{
        margin: 20px 0 0 0;
        color: #a7a0a2;
        font-size: 16px;
      }

    }
    .img-front{
      backface-visibility: hidden;

    }
    .img-back{
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 50px 40px;
      background-color: #444;
      color:#fff;
      z-index: 111;
      transform:rotateY(180deg);
      backface-visibility: hidden;
    }
  }
}
.control-nav{
  position: absolute;
  left:0;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align: center;
  @at-root{
    .controller{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      width: 30px;
      height: 30px;
      text-align: center;
      border-radius: 50%;
      background-color: #eee;
      cursor: pointer;
      transform: scale(0.5);
      transition: all 0.6s ease-in-out;
      transform-style: preserve-3d;
      transform-origin: 0 50% 0;
      &.is-center{
        transform: scale(1);
        background-color: #888;
        position: relative;
        top:-10px;
        left: -8px;
        //transform: rotateY(180deg) translate(-20px,0);
        &::after{
          content:'->';
          display: flex;
          justify-content: center;
          align-items: center;
          //字体边缘平滑处理
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

        }
      }
      &.is-inverse{
        transform: rotateY(180deg) translate(-30px,0);
      }
    }
  }
}

